* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: .9;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

header {
    width: 100%;
    height: auto;
}

header .titlebar {
    width: 1200px;
    height: 700px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    z-index: 2;
}

.teacozylogo {
    height: 50px;
    width: auto;
}
.navbar ul {
    display: inline-block;
    float: right;
}

.navbar li {
    display: inline-block;
    text-decoration: underline;
    ;
}

.tea-month {
    display: flex;
    max-width: 1000px;
    height: 1000px;
}

.tea-month-item {
    height: 200px;
    width: 300px;
}